<h1>Client list!</h1>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
    <div class="well">
    <ul>
      <a href="/clients/$client.getId()">$client.getName()</a>
      <img class="img-rounded" src="$client.getImage()" alt="Stylist Picture" width="250" height="146" >
    </ul>
    </div>
    #end
  </ul>
#else
  <p>No clients!</p>
#end
<a href="/clients/new">Add New Client</a>
