<h1>Stylist Information has been saved successfully</h1>
<a href="/client-list" class="btn btn-info" role="button">Assign Client To Stylist</a>
<a href="/" class="btn btn-info" role="button">Home</a>
